body{
    background: url("https://www.toptal.com/designers/subtlepatterns/patterns/full-bloom.png");
}
.navbar{
    background-color: orange;
}

.ad{
    background-color: blueviolet;
}

.links{
    background-color: teal;
}

.main{
    background-color: red;
}

footer{
    width: 100%;
    position: fixed;
    bottom: 0px;
    border-top: 8px solid #4aaaa5;
    text-align: center;
    background-color:rgb(102, 102, 102);
    padding-top: 20px;
    color: lightgray;
    font-size: 10px;

}


Use three @media screen tags, each with one of these max-widths: 980px, 768px and 640px.

@media only screen and (max-width: 980px){

}

@media only screen and (max-width: 768px){

}

@media only screen and (max-width: 640px){}
.links{
    display: inline-block;
    background-color:lightpink;

}